<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="com.cafe24.kkoo0202.Board.BoardMapper">
	<resultMap type="com.cafe24.kkoo0202.Board.Board" id="resultBoard">
		<result column="board_no" property="boardNo"></result>
		<result column="member_no" property="memberNo"></result>
		<result column="board_no2" property="boardNo2"></result>
		<result column="board_category_no" property="boardCategoryNo"></result>
		<result column="board_name" property="boardName"></result>
		<result column="board_content" property="boardContent"></result>
		<result column="board_date" property="boardDate"></result>
		<result column="board_file" property="boardFile"></result>
		<result column="member_id" property="memberId"></result>	
		<result column="board_username" property="boardUsername"></result>
		<result column="board_viewcnt" property="boardViewcnt"></result>
		<result column="board_recnt" property="boardRecnt"></result>	
	</resultMap>
	
	<resultMap type="com.cafe24.kkoo0202.Board.Reply" id="resultReply">
		<result column="reply_no" property="replyNo"></result>
		<result column="board_no" property="boardNo"></result>
		<result column="reply_content" property="replyContent"></result>
		<result column="reply_writer" property="replyWriter"></result>
		<result column="reply_pw" property="replyPw"></result>
	</resultMap>
	
	<!-- 게시글 추가 -->
	<insert id="boardAdd" parameterType="com.cafe24.kkoo0202.Board.Board">
		INSERT INTO mom_board(
			board_category_no
			, board_name
			, board_content
			, board_date
			, board_file
			, member_id
			, member_no)
		VALUES (
			 #{boardCategoryNo}
			, #{boardName}
			, #{boardContent}
			, NOW()
		 	, #{boardFile}
		 	, #{memberId}
		 	, #{memberNo}
		 )
	</insert>
	
	<!-- 게시글 수정 -->
	<update id="boardModify" parameterType="com.cafe24.kkoo0202.Board.Board">
		UPDATE mom_board 
			SET board_name = #{boardName}
			, board_content = #{boardContent}
		WHERE board_no = #{boardNo}
	</update>
	
	<!-- 게시글 삭제 -->
	<delete id="boardRemove" parameterType="com.cafe24.kkoo0202.Board.Board">
		DELETE FROM mom_board 
		WHERE board_no = #{boardNo} 
	</delete>
	
	<!-- 전체리스트보기 -->
	<select id="boardAllList" parameterType="java.util.Map" resultType="com.cafe24.kkoo0202.Board.Board">
		SELECT 
			board_no AS boardNo
			, member_no AS memberNo
			, board_no2 AS boardNo2
			, board_category_no AS boardCategoryNo
			, board_name AS boardName
			, board_content AS boardContent
			, board_date AS boardDate
			, board_file AS boardFile
		FROM mom_board
		ORDER BY board_date DESC 
		LIMIT #{beginRow}, #{pagePerRow}
	</select>
	
	
	<!-- 전체리스트 수 보기 -->
	<select id="boardAllListCount" resultType="int">
		select count(*) from mom_board
	</select>
	
	<!-- 글 상세 내역 보기(글수정 전 작업)  -->
	<select id="boardView" parameterType="int" resultType="com.cafe24.kkoo0202.Board.Board">
		SELECT
			board_no AS boardNo
			, member_no AS memberNo
			, board_category_no AS boardCategoryNo
			, board_name AS boardName
			, board_content AS boardContent
		  	, board_date AS boardDate
			, board_file AS boardFile
			, member_id AS memberId
		FROM mom_board 
		WHERE board_no = #{boardNo}
	</select>

  
    <!-- replyInsert -->
    <insert id="replyInsert"
    		parameterType="com.cafe24.kkoo0202.Board.Reply">
    	INSERT INTO mom_reply
    	(
			board_no,
			reply_content,
			reply_writer,
			reply_pw
		) VALUES (
			#{boardNo},
			#{replyContent},
			#{replyWriter},
			#{replyPw}
		)
    </insert>
    
    <!-- replyDetail -->
    <select id="replyDetail"
    		parameterType="int"
    		resultType="com.cafe24.kkoo0202.Board.Reply">
    	SELECT
    		reply_no replyNo,
    		reply_pw replyPw,
    		board_no boardNo,
    		reply_writer replyWriter,
    		reply_content replyContent
    	FROM mom_reply
    	WHERE
    		reply_no = #{replyNo}
    </select>
    
    <!-- articleNo로 reply상세정보 구하기 -->
    <select id="replyDetailByarticleNo"
    		parameterType="com.cafe24.kkoo0202.Board.Reply"
    		resultType="com.cafe24.kkoo0202.Board.Reply">
    	SELECT
    		reply_no replyNo,
    		board_no boardNo
    	FROM reply
    	WHERE
    		board_no = #{boardNo}
    </select>
    
    <!-- replyList 뽑는 쿼리문 -->
	<select id="replyList"
			parameterType="com.cafe24.kkoo0202.Board.Reply"
			resultType="com.cafe24.kkoo0202.Board.Reply">
		SELECT
			reply_no replyNo,
			reply_content replyContent,
			reply_writer replyWriter,
			board_no boardNo
		FROM mom_reply
		<where>
			board_no = #{boardNo}
		</where>
		ORDER BY reply_no ASC
	</select>
	
	<!-- articleNo로 replyList 구하기 -->
	<select id="replyListByArticleNo"
			parameterType="com.cafe24.kkoo0202.Board.Board"
			resultType="com.cafe24.kkoo0202.Board.Reply">
		SELECT
			reply_no replyNo,
			reply_content replyContent,
			reply_writer replyWriter,
			board_no boardNo
		FROM reply
		<where>
			board_no = #{boardNo}
		</where>
		ORDER BY reply_no ASC
	</select>
	
	<!-- replyModify -->
	<update id="replyModify"
			parameterType="com.cafe24.kkoo0202.Board.Reply">
		UPDATE reply                                                 
		SET
			reply_content=#{replyContent}
		WHERE board_no=#{boardNo} AND reply_no=#{replyNo} AND reply_pw=#{replyPw}
	</update>
	
	<!-- replyDelete -->
	<delete id="replyDelete"
			parameterType="com.cafe24.kkoo0202.Board.Reply">
		DELETE FROM mom_reply 
		WHERE reply_no=#{replyNo}
	</delete>
	
	<!-- replyDeleteWithArticle -->
	<delete id="replyDeleteWithArticle"
			parameterType="com.cafe24.kkoo0202.Board.Board">
		DELETE FROM reply
		WHERE board_no=#{boardNo}
	</delete>
</mapper>