<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cafe24.kkoo0202.Match.PlayerMapper">	
	<resultMap type="com.cafe24.kkoo0202.Match.Player" id="resultPlayer">
		<result column="member_no" property="member_no" />
		<result column="team_name" property="team_name" />
		<result column="player_grade_no" property="player_grade_no" />
		<result column="position_no" property="position_no" />
		<result column="player_backno" property="player_backno" />
		<result column="player_playerstatus" property="player_playerstatus" />
		<result column="strength_no" property="strength_no" />
		<result column="football_career_no" property="football_career_no" />	
	</resultMap>	
		
	<select id="PlayerList" parameterType="int" resultType="com.cafe24.kkoo0202.Match.Player">
		SELECT 
			* 
		FROM 
			mom_player 
		WHERE 
			member_no = #{member_no} 
	</select>
	
</mapper> 